    /* Set the Root border-box */
    :root {
      box-sizing: border-box;
    }

    /* Sets elements before any element and after any element's box-sizing to that of the ancestor */
    *,
    ::before,
    ::after {
      box-sizing: inherit;
    }

    body {
      background-color: #eee;
      font-family: Helvetica, Arial, sans-serif;
    }

    /* - Elements that follow any first element should have a margin top of 1.5em
    *  - This is called Lobotomized owl global margins
    */
    body * + * {
      margin-top: 1.5em;
    }


    header {
      padding: 1em 1.5em;
      color: #fff;
      background-color: #0072b0;
      border-radius: .5em;
      margin-bottom: 1.5em;
    }

    .main {
      padding: 0 1.5em;
      background-color: #fff;
      border-radius: .5em;
    }

    /*
    * - Setting max-width ensures that the width of the page does not exceed the value given.
    * - This is useful in small screen devices. In fact, max-width is one of the properties 
    * often used in responsive designs.
    */
    .container {
      max-width: 1080px;
      margin: 0 auto;
    }

    .media {
      float: left;
      margin: 0 1.5em 1.5em 0;
      width: calc(50% - 1.5em);
      padding: 1.5em;
      background-color: #eee;
      border-radius: 0.5em;
    }

    /* 
    * - :nth-child() is a pseudoclass that picks the child of the element its modifying by the argument passed to it 
    */
    .media:nth-child(odd) {
      clear: left;
    }

    .media-image {
      float: left;
    }

    .media-body {
      margin-top: 0;
    }

    .media-body h4 {
      margin-top: 0;
    }

    .clearfix::before,
    .clearfix::after {
      display: table;
      content: " ";
    }
    .clearfix::after {
      clear: both;
    }
